body {
  background-color: peachpuff;
  @include flex-box;
}
.list {
  @include flex-column;
  width: 45vw;
  background-color: $faded-rosa;
  margin: 3vw 3vw 3vw 3vw;

  @include sm {
    width: 90vw;
    // margin: 3vw 3vw 3vw 3vw;
  }
  .input {
    @include flex-column;
    align-self: center;
    padding: 0.5rem;
    align-items: center;
  }
}
input[type="text"] {
  background-color: peachpuff;
  border: none;
  border-radius: 0.2rem;
  align-self: center;
  font-size: 1.5rem;
  padding: 0.4rem;
  font-family: "Courier New", Courier, monospace;
  @include sm {
    font-size: 1rem;
    width: 70vw;
  }
}
h1 {
  color: teal;
  padding: 2rem 7.5rem 2rem 7.5rem;
  font-size: 6rem;
  text-align: center;
  font-family: "Lobster";
  font-weight: lighter;
  @include sm {
    width: 100vw;
    font-size: 3rem;
    padding: none;
  }
}

button {
  justify-self: flex-end;
  border-radius: 0.2rem;
  border: none;
  font-family: "Lobster";
  height: 3rem;
  width: 4.5rem;
  background-color: transparent;
  margin-left: 0.6rem;
  &:hover {
    cursor: pointer;
  }
  @include sm {
    height: 2rem;
    width: 3.5rem;
    margin-left: 0.3rem;
  }
}

.done {
  background-color: teal;
}
.later {
  background-color: blanchedalmond;
}
.del {
  background-color: tomato;
}

ul {
  @include flex-column;
  list-style: none;
  border: 3px solid red;
  width: 40vw;
  justify-content: center;
  @include sm {
    width: 80vw;
  }

  li {
    font-family: "Courier New", Courier, monospace;
    width: 25vw;
    margin: 0.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    align-self: center;
    border: 3px solid blue;
    @include sm {
      // @include flex-row;
      // align-self: center;
      border: 3px solid blue;
      width: 90vw;
      justify-content: space-between;

      // margin: 0.4rem;
    }
  }
}
