body {
  background-color: peachpuff;
}
.list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 45%;
  background-color: $faded-rosa;
  margin: 3vw auto;
  .input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    border: rgba(73, 195, 105, 0.314) 3px solid;
    // background-color: tan;
    flex-direction: column;

    align-self: center;
    padding: 0.5rem;
    align-items: center;
  }
  .input:active {
    // background-color: lightcoral;
    // console.log(listItems);    border: none;
  }
}
input[type="text"] {
  background-color: peachpuff;
  border: none;
  border-radius: 0.8rem;
  align-self: center;
  width: max-content;
  font-size: 1.5rem;
  &:active {
  }
}
h1 {
  border: 2px solid lightcoral;

  color: teal;
  padding: 2rem 7.5rem 2rem 7.5rem;
  font-size: 64pt;
  text-align: center;
  font-family: "Lobster";
  font-weight: lighter;
}

button {
  border-radius: 3rem;
  border: none;
  font-family: "Lobster";
  height: 3rem;
  width: 4.5rem;
  background-color: transparent;
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5rem;
}

.done {
  background-color: teal;
}
.skip {
  background-color: blanchedalmond;
}
.del {
  background-color: tomato;
}
ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-self: space-between;
  justify-content: space-between;
  list-style: none;

  li {
    margin: 0.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
}
